@import "~bootstrap/scss/bootstrap.scss";

$color: steelblue;
$primary: Red;
$body-bg: Black;
$fontColor: white;

.flicks {
  color: $body-bg;
}

.textColor {
  color: $body-bg;
}

.floatRight {
  float: right;
}
